<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Enter Verification Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-row>
    <ion-col class="" size="12">
      <app-aspect-ratio [ratio]="{w:915, h:849}">
        <app-image-shell class="illustration-image" animation="spinner" [src]="'./assets/images/two-factor.svg'" [alt]="'Login'"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>

    <ion-col class="ion-text-center" size="12" >
      <p class="ion-text-center">
        Enter the 6 digit Code
      </p>
      <form name="form" (ngSubmit)="f.form.valid && reset()" #f="ngForm">
      <ion-row>
        <ion-input (keyup)="keytab(b2_field)"  [(ngModel)]="b1" #b1_field name="b1" required="" type="tel" placeholder="0" maxlength="1" style="border: 1px solid; border-radius: 10px; width: 40px" class="ion-text-center" ></ion-input> -
        <ion-input (keyup)="keytab(b3_field)"  [(ngModel)]="b2" #b2_field name="b2" required="" type="tel" placeholder="0" maxlength="1" style="border: 1px solid; border-radius: 10px; width: 40px"  class="ion-text-center"></ion-input> -
        <ion-input (keyup)="keytab(b4_field)"  [(ngModel)]="b3" #b3_field name="b3" required="" type="tel" placeholder="0" maxlength="1" style="border: 1px solid; border-radius: 10px; width: 40px" class="ion-text-center"></ion-input> -
        <ion-input (keyup)="keytab(b5_field)"  [(ngModel)]="b4" #b4_field name="b4" required="" type="tel" placeholder="0" maxlength="1" style="border: 1px solid; border-radius: 10px; width: 40px"  class="ion-text-center"></ion-input> -
        <ion-input (keyup)="keytab(b6_field)"  [(ngModel)]="b5" #b5_field name="b5" required="" type="tel" placeholder="0" maxlength="1" style="border: 1px solid; border-radius: 10px; width: 40px"  class="ion-text-center"></ion-input> -
        <ion-input   [(ngModel)]="b6" #b6_field name="b6" required="" type="tel" placeholder="0" maxlength="1" style="border: 1px solid; border-radius: 10px; width: 40px"  class="ion-text-center"></ion-input>
      </ion-row>
  
        <ion-item lines="none">
          <ion-label position="stacked" mode="ios"> New Password</ion-label>
          <ion-input style="border: 1px solid; border-radius: 10px;" class="ion-padding" [(ngModel)]="data.password" name="password_field" #password_field="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && password_field.invalid }" required="" [type]="showPassword ? 'text' : 'password'"></ion-input>
          <ion-icon slot="end" [name]="passwordIcon" (click)="togglePassword()" style="margin-top: 1em;"></ion-icon>
  
          <div *ngIf="f.submitted && password_field.invalid" class="invalid-feedback">
            <div *ngIf="password_field.errors.required">Password is required</div>
          </div>
        </ion-item>
        <ion-item lines="none" >
          <ion-label position="stacked" mode="ios"> Confirm Password</ion-label>
          <ion-input style="border: 1px solid; border-radius: 10px;" class="ion-padding" [(ngModel)]="confirm"  name="c_field" #pwConfirmModel ="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && pwConfirmModel.invalid }" required="" [type]="showPasswordC ? 'text' : 'password'" (ngModelChange)="checkPasswords()"></ion-input>
          <ion-icon slot="end" [name]="passwordIconC" (click)="togglePasswordC()" style="margin-top: 1em;"></ion-icon>
          <div *ngIf="f.submitted && pwConfirmModel.invalid" class="invalid-feedback">
            <div *ngIf="pwConfirmModel.errors.required">Password required</div>
            <div *ngIf="pwConfirmModel.errors.nomatch">Password Do not Match</div>
          </div>
        </ion-item>
        <br>
  
        <ion-button type="submit" expand="block">Reset Password</ion-button>
      </form>
  
      <br>
  
      <p class="ion-text-center">
        <ion-text class="ion-text-center" (click)="resend()">
          OR <ion-note > Resend Code</ion-note>
        </ion-text>
      </p>
  
  
  
    </ion-col>
  </ion-row>

</ion-content>
