<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Enter Verification Code</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-margin" >
  
  <ion-grid>
    <ion-row class="ion-text-center">
      <img src="./assets/images/otp.png" class="ion-text-center" height="100px" style="margin: auto;">

      <p class="ion-text-center">We have sent OTP on your number</p>

    </ion-row>
    <ion-row class="otp-box">
      <ion-col>
        <div>
          <ion-input name="a" #a (keyup)="moveFocus($event,b,'')" type="tel" placeholder="0" maxlength="1">
          </ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-input name="b" #b (keyup)="moveFocus($event,c,a)" type="tel" placeholder="0" maxlength="1">
          </ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-input name="c" #c (keyup)="moveFocus($event,d,b)" type="tel" placeholder="0" maxlength="1">
          </ion-input>
        </div>
      </ion-col>
    
      <ion-col>

        <div>
          <ion-input name="d" #d (keyup)="moveFocus($event,'',c)" type="tel" placeholder="0" maxlength="1">
          </ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <p  class="ion-text-center">Didn't receive OTP?<a href="">Resend OTP</a></p>
    </ion-row>
  </ion-grid>
</ion-content>
