:host{
  ion-content{
    --background: #F1F5F8
  }
  .user-image{
    border-radius: 14px;
  }
    .user-friends-section {
        margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
        padding-bottom: var(--page-margin);
        border-bottom: 1px solid var(--ion-color-light-shade);
    }
    .friend-item {
        padding: 0px var(--page-friends-gutter);
  
        .friend-name {
          display: block;
          text-align: center;
          margin: var(--page-margin) 0px;
          font-size: 14px;
        }

        .sub-name {
            display: block;
            text-align: center;
            font-size: 12px;
          }
      }
}