<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-segment value="all" 
    color="tertiary" 
    scrollable="true"
    mode="ios"
    [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">
      <ion-segment-button value="legalcover">
        <ion-label>Legal cover</ion-label>
      </ion-segment-button>
      <ion-segment-button value="medic">
        <ion-label>Medic Now</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card *ngIf="segmentModel === 'legalcover'">
    <ion-card-header>
      <ion-card-subtitle>Segment Content</ion-card-subtitle>
      <ion-card-title>All</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


    <ion-row class="contacts-row ion-margin-top" style="margin-top: 50px"  *ngIf="segmentModel === 'medic'">
    
      <ion-col size="6">

        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Police</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
       
      </ion-col>




        <ion-col size="6">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> EMS</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>




      <ion-col size="6" class="ion-margin-top">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Police</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-margin-top">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Fire</ion-label>

            <ion-icon (click)="callNumber('0772451668')" name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-margin-top">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Police</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>


</ion-content>
