:host{
  ion-content{
    --background: #D92026;
  }

  .contacts-card{
    margin: -2px;
    border-radius: 10px;
  }


  .contacts-row{
    padding: 10px;
   // --ion-grid-columns: 10; // We want to show three users and a half. Each user fills 2 cols => (3.5 * 2 = 7 cols)
 //   --ion-grid-column-padding: -1px;



  }
}
