<ion-header no-border>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title class="ion-text-center">
      Emergence Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<!-- 
<ion-card class="ion-padding">
  <ion-text>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
  </ion-text>
</ion-card> -->
    <ion-row class="contacts-row ion-margin-top" style="margin-top: 50px">
    
      <ion-col size="6">

        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Police</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
       
      </ion-col>




        <ion-col size="6">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> EMS</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>




      <ion-col size="6" class="ion-margin-top">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Police</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-margin-top">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Fire</ion-label>

            <ion-icon (click)="callNumber('0772451668')" name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-margin-top">


        <ion-card class="contacts-card" >
          <ion-item lines="none">
            <ion-label> Police</ion-label>

            <ion-icon name="call" color="primary" slot="end"></ion-icon>
          </ion-item>

          <ion-card-content class="ion-text-center ion-no-margin-top ion-no-padding-top">
            <p class="sub-name">Law Enforcement</p>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>


</ion-content>
