 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon size="small" src="./assets/sample-icons/tabs/home.svg" color="primary"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts">
      <ion-icon src="./assets/sample-icons/tabs/contacts.svg" color="primary"></ion-icon>
      <ion-label class="tab-title">Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-icon src="./assets/sample-icons/tabs/law.svg" color="primary"></ion-icon>
      <ion-label class="tab-title">Legal Cover</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="notifications">
      <ion-icon src="./assets/sample-icons/tabs/help.svg" color="primary"></ion-icon>
      <ion-label class="tab-title">Help</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon src="./assets/sample-icons/tabs/profile.svg" color="primary"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
