<!-- <ion-tabs>-->
<!--  <ion-tab-bar slot="bottom">-->
<!--    <ion-tab-button tab="home">-->
<!--      <ion-icon  src="./assets/sample-icons/tabs/home.svg" color="primary"></ion-icon>-->
<!--      <ion-label class="tab-title">Home</ion-label>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="contacts">-->
<!--      <ion-icon src="./assets/sample-icons/tabs/contacts.svg" color="primary"></ion-icon>-->
<!--      <ion-label class="tab-title">Contacts</ion-label>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="register">-->
<!--      <ion-icon src="./assets/sample-icons/tabs/law.svg" color="primary"></ion-icon>-->
<!--      <ion-label class="tab-title">Legal Cover</ion-label>-->
<!--    </ion-tab-button>-->
<!--  -->
<!--    <ion-tab-button tab="notifications">-->
<!--      <ion-icon src="./assets/sample-icons/tabs/help.svg" color="primary"></ion-icon>-->
<!--      <ion-label class="tab-title">Help</ion-label>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="user">-->
<!--      <ion-icon src="./assets/sample-icons/tabs/profile.svg" color="primary"></ion-icon>-->
<!--      <ion-label class="tab-title">Profile</ion-label>-->
<!--    </ion-tab-button>-->
<!--  </ion-tab-bar>-->
<!--</ion-tabs>-->




 <ion-tabs>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button style="height: 50px;
                       width: 50px;"
                    color="warning" color="light">
      SOS
</ion-fab-button>

    <ion-fab-list side="top" style="margin-bottom: 160px !important;">
      <ion-fab-button style="height: 50px;
                       width: 50px;"
                      color="warning"  size="large">
                      <ion-label class="ion-padding bb">
                        <ion-icon size="small" color="light" name="call"  ></ion-icon> <br>  Fire
                    
                    </ion-label>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom" style="top: -160px !important; right: -100px;">
      <ion-fab-button style="height: 50px;
        width: 50px;"
        color="warning">
      
             <ion-label class="ion-padding bb">
              <ion-icon size="small" color="light" name="call"  ></ion-icon> <br>  EMS
          
          </ion-label>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom" style="top: -160px !important; left: -100px;" size="large">
      <ion-fab-button style="height: 50px;
                       width: 50px;"
                      color="warning" size="large">
      
                      <ion-label class="ion-padding bb">
                        <ion-icon size="small" color="light" name="pin"  ></ion-icon> <br>  Find Me
                    
                    </ion-label>
       

      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start" style="top: -150px !important;">
      <ion-fab-button style="height: 50px;
                       width: 50px;"
                      color="warning">
                      <ion-label class="ion-padding bb">
                        <ion-icon size="small" color="light" name="call"  ></ion-icon> <br>  Legal
                    
                    </ion-label>

      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end" style="top: -150px !important;">
      <ion-fab-button style="height: 50px;
                       width: 50px;"
                      color="warning">
                      <ion-label class="ion-padding bb">
                        <ion-icon size="small" color="light" name="call"  ></ion-icon> <br>  Crime
                    
                    </ion-label>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

     <!-- <ion-fab vertical="bottom"  horizontal="center" slot="fixed">
       <ion-fab-button  color="light">
               SOS
       </ion-fab-button>
       <ion-fab-list side="top" >
         <ion-fab-button >
           Fire</ion-fab-button>
         <ion-fab-button>EMS</ion-fab-button>
         <ion-fab-button>Legal</ion-fab-button>
         <ion-fab-button>Crime</ion-fab-button>
         <ion-fab-button >Find me</ion-fab-button>

       </ion-fab-list>
     </ion-fab> -->

   <ion-tab-bar slot="bottom" class="ion-no-border">
     <ion-tab-button tab="home">
       <ion-icon name="home-outline"></ion-icon>
       <ion-label class="tab-title">Home</ion-label>

     </ion-tab-button>

     <ion-tab-button tab="contacts" class="comments">
       <ion-icon name="cart-outline"></ion-icon>
       <ion-label class="tab-title">Products</ion-label>

     </ion-tab-button>

     <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

     <ion-tab-button tab="notifications" class="notifs">
       <ion-icon name="notifications-outline"></ion-icon>
       <ion-label class="tab-title">Notifications</ion-label>

     </ion-tab-button>

     <ion-tab-button tab="user">
       <ion-icon name="person-outline"></ion-icon>
       <ion-label class="tab-title">Profile</ion-label>

     </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>
