<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Legal Cover</ion-title>

  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>

  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">

  <div  style="overflow-y: scroll; margin-bottom: 20%;">

      <form class="validations-form">
        <ion-list class="inputs-list" lines="full">
          <ion-list-header>
            <ion-label class="header-title">Personal Details</ion-label>
          </ion-list-header>
    
          <ion-item class="input-item">
            <ion-label position="floating">ID Type</ion-label>
            <ion-input type="text"  clearInput required></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.idtype">
              <div class="error-message" *ngIf="validationsForm.get('idtype').hasError(validation.type) && (validationsForm.get('idtype').dirty || validationsForm.get('idtype').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
    
          <ion-item class="input-item">
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text"  clearInput></ion-input>
          </ion-item>
          <!-- <div class="error-container">
            <ng-container *ngFor="let validation of validations.name">
              <div class="error-message" *ngIf="validationsForm.get('name').hasError(validation.type) && (validationsForm.get('name').dirty || validationsForm.get('name').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div> -->
    
          <ion-item class="input-item">
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text"  clearInput></ion-input>
          </ion-item>
          <!-- <div class="error-container">
            <ng-container *ngFor="let validation of validations.lastname">
              <div class="error-message" *ngIf="validationsForm.get('lastname').hasError(validation.type) && (validationsForm.get('lastname').dirty || validationsForm.get('lastname').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div> -->
    
          <ion-item class="input-item">
            <ion-label position="floating">Gender</ion-label>
            <ion-select  cancelText="Cancel" okText="OK">
              <ion-select-option *ngFor="let gender of genders" [value]="gender" >{{ gender }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list-header>
          <ion-label class="header-title">Contact Details</ion-label>
        </ion-list-header>
  
    
        <ion-list class="inputs-list" lines="full" >
        
    
          <div formGroupName="country_phone">
            <ion-item class="input-item">
              <ion-label position="floating">Country</ion-label>
              <ion-select  cancelText="Cancel" okText="OK">
                <ion-select-option *ngFor="let item of countries" [value]="item" >{{item.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="input-item">
              <ion-label position="floating">Phone</ion-label>
              <ion-input clearInput placeholder="South Africa" type="text" ></ion-input>
            </ion-item>
            <!-- <div class="error-container">
              <ng-container *ngFor="let validation of validations.phone">
                <div class="error-message" *ngIf="validationsForm.get('country_phone').get('phone').hasError(validation.type) && (validationsForm.get('country_phone').get('phone').dirty || validationsForm.get('country_phone').get('phone').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div> -->
          </div>
        </ion-list>
        <ion-item class="input-item">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text"  clearInput inputmode="email"></ion-input>
        </ion-item>
        <!-- <div class="error-container">
          <ng-container *ngFor="let validation of validations.email">
            <div class="error-message" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div> -->

        <ion-list class="inputs-list" lines="full">
          <!-- <ion-list-header>
            <ion-label class="header-title">Terms and Conditions</ion-label>
          </ion-list-header> -->
    
          <ion-item class="input-item terms-item">
            <ion-label>I accept terms and conditions</ion-label>
            <ion-checkbox ></ion-checkbox>
          </ion-item>

<!-- 
          <div class="error-container">
            <ng-container *ngFor="let validation of validations.terms">
              <div class="error-message" *ngIf="validationsForm.get('terms').hasError(validation.type) && (validationsForm.get('terms').dirty || validationsForm.get('terms').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div> -->
        </ion-list>


      </form>
  
  
  </div>
  <div class="ion-text-center">
  <ion-button class="submit-btn" size="small" type="" color="light"  fill="outline" > Prev</ion-button>

  <ion-button class="submit-btn" size="small"
              expand="" fill="outline"  [routerLink]="['/address-details']" color="light"  >Next</ion-button>
  </div>

</ion-content>
