<ion-header class="ion-no-border">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button>
				<ion-icon name="apps"></ion-icon>
			</ion-button>
		</ion-buttons>
    <ion-item lines="none">
			<ion-label>
				<h2 class="welcome">Welcome, Aaron Katema</h2>
			</ion-label>
    </ion-item>

		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light">
				<ion-icon color="custom" name="notifications"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	

</ion-header>

<ion-content>

  <div class="slides ion-no-margin-bottom">
    <app-image-shell [mode]="'cover'" class="category-cover"
     animation="spinner" [src]="'./assets/images/LegalCoverCard.png'" style="border-radius: 50px !important; height: 100%; ">
      <app-aspect-ratio [ratio]="{w:1, h:1}">
        <div style="margin-top:50px !important; margin-left: 10px;" class="ion-text-center">
          <h2 class="category-title">Aaron Katema</h2>
          <p class="category-title">1243848488</p>
        </div>
         
        
      </app-aspect-ratio>
    </app-image-shell>
   
  
  </div>

  <div class="container ion-no-margin ion-no-padding" >
      <ion-grid>
        <ion-row class="ion-no-margin ion-no-padding">
          <ion-col >
            <ion-card class="ion-no-margin ion-no-padding">
              <ion-card-header>
                <ion-label>
            <p class="black">Legal Problems?</p>
                

              <small>Find Suitable Help here</small>
              <ion-icon name="arrow-forward-circle-outline" slot="end"></ion-icon> 
                  </ion-label>

            </ion-card-header>
            </ion-card>

            <h4 class="title ion-no-margin ion-no-padding">Services</h4>
          </ion-col>
        </ion-row>
        <ion-row class=" ion-no-margin ion-no-padding">
         
          <ion-col size="6" class="">
            <ion-card class="title ion-no-margin ion-no-padding">
              <ion-card-header>
                <ion-label class="ion-text-center">
                  <ion-icon name="alarm-outline" color="secondary"></ion-icon>
                  <h4 class="welcome">24 Hr Legal Advice</h4>
                </ion-label> 
              </ion-card-header>
              <ion-card-content>
              </ion-card-content>
            </ion-card>
          </ion-col>
        
          <ion-col size="6">
            <ion-card class="ion-no-margin ion-no-padding">
              <ion-card-header>
                <ion-label>
                  <ion-icon name="book-outline" color="secondary" ></ion-icon>
                  <h4 class="welcome" >Free Wills</h4>
                  
                </ion-label> 
              </ion-card-header>
              <ion-card-content>
                
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


  </div>

</ion-content>