:host {

  


  app-image-shell.category-cover {
    --image-shell-loading-background: rgba(var(--page-category-background-rgb), .25);
    --image-shell-spinner-color: var(--ion-color-lightest);
  }
  ion-content{
    --background: url('../../assets/images/home.jpg') no-repeat center center / cover;
  }

  .category-title{
    color: rgb(218, 203, 3);
  }


  
}
