<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title class="ion-text-center">
      Need Help?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content ion-margin-top">
    <ion-card>
    <h6 class="ion-margin ion-text-center">In case of legal emergency , tap find me button to share your details and
     location with Legal Cover. An agent will be notified of your emergency
     and get in touch as soon as possible
    </h6>
    </ion-card>
  <div  class="ion-text-center" style="margin-top: 100px; ">
    <ion-button  (click)="shareLocation()" *ngIf="!radar"  fill="outline" size="large"
                 class="ion-text-center" color="warning" >
      <ion-icon name="pin" color="light" size="large"></ion-icon>
      Find Me</ion-button>
    <img *ngIf="radar" [src]="'./assets/images/gi.gif'" alt="" style="height: 250px; top:40px;">




  </div>




</ion-content>
