<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title class="ion-text-center">
      Need Help?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications-content ion-margin">
    <p class="ion-margin">In case of legal emergency , tap find me button to share your details and
     location with Legal Cover. An agent will be notified of your emergency 
     and get in touch as soon as possible
    </p>

    <div class="ion-text-center">
      <ion-button shape="round" fill="outline" size="large">Find Me</ion-button>

    </div>


</ion-content>
