<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Legal Cover</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-margin" >


    <ion-grid class="ion-margin ion-padding">
      <ion-row >
       
        <ion-col class="ion-text-center" size="12">
          <div class="info-wrapper ion-text-center">
            <h1 class="">Law on the Go</h1>
            <p class="info-paragraph" style="font-size: 18px;">
             Get Legal Power at your fingertips
            </p>

            <p class="info-paragraph ion-text-center">
              <ion-button expand="block" [routerLink]="['/app/personal-details']" size="large" color="warning">Register</ion-button>
            </p>
            
          </div>
        </ion-col>

        <ion-col size="12">
          
          <img class="illustration-image" style="margin-top: 20%;  margin-left: auto; margin-right: auto;"
           animation="spinner" [src]="'./assets/images/logo.png'" [alt]="'walkthrough'">
      
      </ion-col>

      </ion-row>
    </ion-grid>


</ion-content>
